# This for better or for worse ignores all of /plugged
./NeoVim/.vim/plugged/YouCompleteMe/
./NeoVim/.vim/plugged/markdown-preview.nvim
./NeoVim/.vim/plugged/jedi-vim
./NeoVim/.vim/bundle

## Actually I want all of plugged gone so:
./NeoVim/.vim/*

## Remove Fish History
./Shells/.local/share/fish/fish_history



