[submodule "Shells/.config/fish/functions/.fzf"]
	path = Shells/.config/fish/functions/.fzf
	url = https://github.com/junegunn/fzf
[submodule "FZF/.fzf"]
	path = FZF/.fzf
	url = https://github.com/junegunn/fzf
