[submodule "Shells/.config/fish/functions/.fzf"]
	path = Shells/.config/fish/functions/.fzf
	url = https://github.com/junegunn/fzf
[submodule "FZF/.fzf"]
	path = FZF/.fzf
	url = https://github.com/junegunn/fzf
[submodule "Spacemacs/.emacs.d"]
	path = Spacemacs/.emacs.d
	url = https://github.com/syl20bnr/spacemacs
