# This for better or for worse ignores all of /plugged
./NeoVim/.vim/plugged/YouCompleteMe/
./NeoVim/.vim/plugged/markdown-preview.nvim
./NeoVim/.vim/plugged/jedi-vim
./NeoVim/.vim/bundle

## Actually I want all of plugged gone so:
./NeoVim/.vim/*
  ## Obviously I want my snippets though
!./NeoVim/.vim/UltiSnips/*.snippets

## Remove Fish History
./Shells/.local/share/fish/fish_history
# Remember to use afterwards:
#    git rm --cached ./Shells/.local/share/fish/fish_history



NeoVim/.local/bin/mdv
.gitignore
NeoVim/.local/bin/tabulate
**/*.elc
EmacsPersonal/centaur
