[Unit]
Description=Jupyter Server for Sync/DataSci Directory

[Service]
ExecStart=/usr/bin/bash %h/Sync/DataSci/.jupyter/start_jupyter.sh

[Install]
WantedBy=default.target
