[Unit]
Description=Change the KDE Theme

[Service]
ExecStart=/usr/bin/lookandfeeltool -a org.kde.breezedark.desktop

[Install]
WantedBy=default.target
